.compSciWebsite {
  border-radius: 15px;
  background-color: blanchedalmond;
  height: auto;
  width: auto;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition-duration: 3s;
}
.compSciWebsite:hover {
  background-color: black;
  cursor: pointer;
  color:white;
  padding: 1000px;
  rotate: 360deg;

}