body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: rgb(216, 15, 15);
    padding: 10px;
    text-align: right;
    transition-duration: 0.2s;
}

h1:hover {
    transform: rotate3d(1, 1, 1, 3600deg);
    transition-duration: 5s;
}
img:hover {
    transform: rotate3d(1, 1, 1, 3600deg);
    transition-duration: 10s;
}